<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/control.js"></script>
    <meta charset="utf-8" />
  </head>
  <body ng-app="overlay-app" ng-controller="overlay-controller">
    <div id="message" ng-hide="!alert" anim-done="alertDone()" ng-style="animStyle">
      <img id="message-image" ng-src="{{ settings.image }}" />
      <p id="message-text" ng-style="fontStyle">
	{{ settings.message.text }}
      </p>
    </div>
  </body>
</html>
