@keyframes slide-down {
    0% {
	top: -50%;
    }
    25% {
	top: 50%;
    }
}

@keyframes slide-up {
    0% {
	top: 150%;
    }
    25% {
	top: 50%;
    }
}

@keyframes slide-left {
    0% {
	left: -50%;
    }
    25% {
	left: 50%;
    }
}

@keyframes slide-right {
    0% {
	left: 150%;
    }
    25% {
	left: 50%;
    }
}

html {
    height: 100%;
}

body {
    background: #00ff00;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#message {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#message-image {
    width: 100%;
}